
@{
    ViewBag.Title = "Sobre";
}

<div class="imagemTopo">
    <img src="~/Imagens/mulher_medica.png" class="img-sobre" />
</div>

<div class="container texto-sobre">
    <h2 class="titulo-sobre text-center">Clínica Estética Nice Face</h2>
    <br />
    <img src="~/Imagens/homem_procedimento.png" align="left" class="img-sobre-detalhe" />
    <p>
        A Clínica Estética Nice Face nasceu em 2005, quando o mercado de Estética tornava-se mais conhecido
        dos brasileiros. Com a área em expansão e uma demanda crescente, surgiu a oportunidade de criação da Nice Face,
        pensando no bem-estar do público e em aumentar o acesso das pessoas a procedimentos seguros realizados por
        profissionais experientes.
    </p>
    <p>
        A Clínica Nice Face foi inaugurada em São Paulo, região que concentra grande número de pessoas que podem se
        beneficiar de seus serviços, além de ser em um local de fácil acesso.
    </p>
    <p>
        Contando com vários profissionais experientes e atenciosos de todas as especialidades, a Nice Face está pronta
        para ouvir e cuidar dos clientes mais exigentes, garantindo um resultado final conforme o esperado.
    </p>
    <p>
        A missão da empresa é oferecer toda a gama de serviços em estética, saúde e bem-estar aos clientes com qualidade e
        excelência no atendimento.
    </p>
    <br />
    <img src="~/Imagens/mulher_procedimento.png" align="right" class="img-sobre-detalhe" />
    <p>Conheça alguns dos procedimentos realizados:</p>
    <ul>
        <li />Limpeza de pele
        <li />Peeling
        <li />Drenagem
        <li />Botox
        <li />Depilação permanente
    </ul>

</div>

