
@{
    ViewBag.Title = "About";
}

<p>Ideia: colocar uma faixa com imagem de clínica no topo da página, abaixo do menu e antes do título</p>

<h2>Clinica Estética Nice Face</h2>

<p>História da clínica e procedimentos realizados</p>
<br />
<p>Texto tirado da documentação para editar:</p>
<p>
    A história da Clinica Estética Nice Face começa em 2005, conforme relatamos a seguir:
    O Mercado de Estética tornava-se mais conhecido pelos brasileiros através de propagandas de emissoras de TV, foi aí que visualizando a oportunidade para criação de um negócio na área de estética e baseado em pesquisas de mercado que mostravam que no geral em todo o país havia uma carência nesta área. Em 2005 surge a Clínica de Estética Nice Face, na região de São Paulo, para buscar suprir esse mercado ainda pouco acessível as pessoas que buscam a beleza do corpo e formas de bem estar.
    Com o crescimento da empresa nos últimos anos, torna-se essencial a criação de um sistema que permita facilitar o agendamento junto aos clientes, otimizar as agendas com os seus profissionais de saúde, oferecer toda a gama de serviços em estética, saúde e bem estar aos clientes e principalmente com qualidade e excelência no atendimento.
</p>