
@{
    ViewBag.Title = "Sobre";
}

<div class="imagemTopo">
    <p>Ideia: colocar uma faixa com imagem de clínica no topo da página, abaixo do menu e antes do título</p>

</div>

<div class="container">
    <h2>Clínica Estética Nice Face</h2>

    <p>
        A Clinica Estética Nice Face nasceu em 2005, quando o mercado de Estética tornava-se mais conhecido
        dos brasileiros. Com a área em expansão e uma demanda crescente, surgiu a oportunidade de criação da Nice Face,
        pensando no bem-estar do público e em aumentar o acesso das pessoas a procedimentos seguros realizados por
        profissionais experientes.
    </p>
    <p>A Clínica Nice Face foi inaugurada em São Paulo, região que concentra grande número de pessoas que podem se
        beneficiar de seus serviços, além de ser em um local de fácil acesso.
    </p>
    <p>
        A missão da empresa é oferecer toda a gama de serviços em estética, saúde e bem-estar aos clientes com qualidade e excelência no atendimento.
    </p>
    <p>Conheça alguns dos procedimentos realizados:</p>
    <ul>
        <li/>Limpeza de pele
        <li/>Peeling
        <li/>Drenagem
    </ul>

</div>

