
@{
    ViewBag.Title = "Contact";
}

<h2>Entre em contato</h2>

<p>Ideia: formulário para entrar em contato com a clínica</p>
<p>Abaixo do formulário, o endereço, email e telefone (inventados) da clínica e um mapa mostrando a localização</p>