
@{
    ViewBag.Title = "Index";
}



<div class="container">


    <h2>Clinica Estética Nice Face</h2>

    <p>Ideias: fazer um carrossel de imagens ocupando a tela toda, imagens de clínica e salas de atendimento, com o nome da clínica grande no centro</p>

    <p>Manter esta página sem rodapé</p>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/excluirRodape.js")
} 