
@{
    ViewBag.Title = "Index";
}

<h2>Clinica Estética Nice Face</h2>

<p>Ideias: fazer um carrossel de imagens ocupando a tela toda, imagens de clínica e salas de atendimento, com o nome da clínica grande no centro</p>

<p>Manter esta página sem rodapé</p>
