
@{
    ViewBag.Title = "TelaPrincipal";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<h2>Tela Principal</h2>

<p>Inserir o nome de quem está logado</p>
<p>Verificar o que precisa inserir no menu</p>

<p>inserir na página atalhos para as funcionalidades</p>
