
@{
    ViewBag.Title = "TelaPrincipal";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<div class="text-center">
    <h2>Bem-vindo(a), "nome do usuário logado"</h2>

    <p>Verificar o que precisa inserir no menu</p>

    <p>inserir na página atalhos para as funcionalidades</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Clientes</h3>
                <a href="~/Cliente/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Cliente/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Funcionários</h3>
                <a href="~/Funcionario/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Funcionario/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Procedimentos</h3>
                <a href="~/Procedimento/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Procedimento/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Clientes</h3>
                @Html.ActionLink("Exemplo", "TelaPrincipal", "Home", new { @class = "btn btnMenu" })
                @Html.ActionLink("Exemplo", "TelaPrincipal", "Home", new { @class = "btn btnMenu" })
                @Html.ActionLink("Exemplo", "TelaPrincipal", "Home", new { @class = "btn btnMenu" })
                @Html.ActionLink("Exemplo", "TelaPrincipal", "Home", new { @class = "btn btnMenu" })
            </div>
        </div>

    </div>

</div>