
@{
    ViewBag.Title = "TelaPrincipal";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<div class="text-center">
    <h2 class="txtBemVindo">Bem-vindo(a), "nome do usuário logado"</h2>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Clientes</h3>
                <a href="~/Cliente/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Cliente/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Funcionários</h3>
                <a href="~/Funcionario/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Funcionario/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Procedimentos</h3>
                <a href="~/Procedimento/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Procedimento/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Avaliação</h3>
                <a href="~/Avaliacao/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Avaliacao/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Sessões</h3>
                <a href="~/Sessao/Cadastrar" class="btn btnMenu">Cadastrar</a>
                <a href="~/Sessao/Index" class="btn btnMenu">Consultar</a>
            </div>
        </div>

    </div>

</div>